$text_color: black;
$fonts: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mobile_fonts: 'Open Sans', sans-serif;
$background_color: lavender;
$mobile_background_color: lightblue;

/*divide pc and mobile versions*/
@media (min-width: 1201px) {
    .version::after {
        content: " full version";
    }
    body {
        background-color: $background_color;
        font-family: $fonts;   
    }
}

@media (max-width: 1200px) {
    .version::after {
        content: " mobile version";
    }
    body {
        background-color: $mobile_background_color;
        font-family: $mobile_fonts;
    }
}

h1 {
    color: $text_color;
    text-align: center;
    border-style: solid;
}

p {
    color: grey;
}

.link {
    color: blue;
    text-align: center;
    font-size: 20px;
}

.version {
    color: red;
    text-align: left;
    font-size: 10px
}

.profile_picture {
    text-align: left;
}

li {
    font-size: 29px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    height: 50%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background: lightgrey;
}

#other, #panevezys, #siauliai, #klaipeda, #kaunas, #vilnius {
    text-decoration: underline;
    text-underline-position: under;
}




